USE [master]
GO
/****** Object:  Database [EasyGamesProjectDB]    Script Date: 2022/06/09 18:41:32 ******/
CREATE DATABASE [EasyGamesProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyGamesProjectDB', FILENAME = N'C:\Users\user-pc\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\EasyGamesProjectDB_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EasyGamesProjectDB_log', FILENAME = N'C:\Users\user-pc\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\EasyGamesProjectDB_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyGamesProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyGamesProjectDB]
GO
USE [EasyGamesProjectDB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[ClientBalance] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionTypeID] [smallint] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Comment] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionType]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionType](
	[TransactionTypeID] [smallint] IDENTITY(1,1) NOT NULL,
	[TransactionTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Client_Get]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Get]
	@ClientID int
AS
BEGIN
	SELECT *
	FROM dbo.[Client]
	WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[Client_GetAll]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_GetAll]
AS
BEGIN
	SELECT *
	FROM dbo.[Client];
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Insert]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Insert]
	@FirstName NVARCHAR(50),
	@Surname NVARCHAR(50),
	@ClientBalance FLOAT
AS
BEGIN
	INSERT INTO dbo.[Client] (FirstName, Surname, ClientBalance)
	VALUES (@FirstName, @Surname, @ClientBalance);
END
GO
/****** Object:  StoredProcedure [dbo].[Client_UpdateBalance]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_UpdateBalance]
	@UpdatedAmount FLOAT,
	@ClientID INT
AS
BEGIN
	UPDATE dbo.[Client]
	SET ClientBalance = ClientBalance + @UpdatedAmount
	WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[Transaction_GetAllClient]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Transaction_GetAllClient]
	@ClientID INT
AS
BEGIN
	SELECT *
	FROM dbo.[Transaction]
	WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[Transaction_GetTransactionType]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Transaction_GetTransactionType]
AS
BEGIN
	SELECT *
	FROM TransactionType
END
GO
/****** Object:  StoredProcedure [dbo].[Transaction_Insert]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Transaction_Insert]
	@Amount FLOAT,
	@TransactionTypeID INT,
	@ClientID INT,
	@Comment NVARCHAR(100)
AS
BEGIN
	INSERT INTO dbo.[Transaction] (Amount, TransactionTypeID, ClientID, Comment)
	VALUES (@Amount, @TransactionTypeID, @ClientID, @Comment);
END
GO
/****** Object:  StoredProcedure [dbo].[Transaction_UpdateComments]    Script Date: 2022/06/09 18:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Transaction_UpdateComments]
	@TransactionID INT,
	@Comment NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.[Transaction]
	SET Comment = @Comment
	WHERE TransactionID = @TransactionID;
END
GO
USE [master]
GO
